@import "tailwindcss";

html, body {
  font-family: 'STIX Two Text', sans-serif;
  margin: 0;
  padding: 0;
  background: white;
  color: black;
}


/* Custom font classes */
.stix-two-bold {
  font-family: "STIX Two Text", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}


@layer utilities {
  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }
}